{% extends 'base.html' %}
{% load static %}

{% block title %}View details - {{ driver }}{%  endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card text-center">
                    <div class="card-header">
                        {% if driver.profile %}
                            <img src="{{ driver.profile.url }}" class="card-img-top" alt="No image">
                        {% else %}
                            <img src="{% static 'images/image.png' %}" class="card-img-top" alt="No image">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ driver }}</h5>
                        <p class="card-text">
                            <strong>Email:</strong> {{ driver.email }}
                        </p>
                        <a href="{% url 'list-of-drivers' %}" class="btn btn-outline-primary">Back</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Created at: {{ driver.created_at|date:"d-m-Y H:i:s" }} / Updated 
                        at: {{ driver.updated_at|date:"d-m-Y H:i:s" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}