<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .edit_a {
            background-color: red;
            color: white;!important;
            text-align: center;
            text-decoration: none;
            padding: 14px 25px;
        }
    </style>
</head>

<body>
<div>
    <h2>Hello, {{ fullname }}</h2>

    <h4>Congratulations! Your account has been created!</h4>

    <br><br>

    <h4>Your username account is: {{ username }}</h4>

    <a href="//127.0.0.1:8000" class="edit_a">Go to app</a>
</div>
</body>
</html>